{# templates/macros.html #}

{% macro light_or_dark_mode(element) %}
	{% if request.args.get('mode') == "dark" %}
		<a href="{{ request.path }}">Switch to Light Mode</a>
		<style>
			{{ element }} {
				background-color: #212f3c;
				color: #ffff00;
			}
			{{ element }} a {
				color: #00bfff !important;
			}
		</style>
		{% else %}
		<a href="{{ request.path }}?mode=dark">Switch to Dark Mode</a>
	{% endif %}
{% endmacro %}

{% macro add_badge(student, students) %}
	{% set high_score = students|map(attribute="score")|max %}

	{% if student.score == high_score %}
		star
	{% elif student.score > 80 %}
		smile
	{% else %}
		frown
	{% endif %}
{% endmacro %}

{% macro nav_link(menu_item) %}
	{% set mode = "?mode=dark" if request.args.get("mode") == "dark" else "" %}
	{% if request.endpoint == menu_item %}
	<a href="{{ url_for(menu_item) }}{{ mode }} "><b>{{ menu_item|upper }}</b></a>
	{% else %}
	<a href="{{ url_for(menu_item) }}{{ mode }} ">{{ menu_item }}</a>
	{% endif %}
{% endmacro %}
